/* Google Homepage Clone:

Create the Google search page with:
A centered logo.
A search bar with rounded edges.
Two buttons below the search bar.
Footer links styled horizontally.
Use a hover effect for buttons. */

body
{
    background-color:#272a35;
}



/* nav start */
nav
{

    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
nav ul:hover
{
    cursor: pointer;
}

nav li
{
    display: inline;
    color: white;
    padding: 7px 10px;
}


.nav-decoration:hover
{
    text-decoration: underline;
}


#g-acc
{
    margin-right: 10px;
}



.nav-img
{
    width: 25px;
    height: 22px;
}

#gmail-photo
{
    border-radius: 40px;
}

/* nav ends */





/* Google logo starts */


#google-logo
{
    /* background-color: rgb(0, 0, 0); */
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

#google-logo img
{
    
    width: 272px;
    height: 91px; 
}


/* Google logo ends */






/* search bar starts */

#search-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 30.5%;
    margin-right: 30.5%;
    background-color: rgb(255, 255, 255);    
    height: 48px;
    border-radius: 25px;
    cursor: text;
    
}


#left-container
{
    height: inherit;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: left;

}

#left-container #search
{
    
    padding: 16px 10px 40px 20px ;
    height: 15px;
    display: inline-block;
}


#left-container #search-text
{
    display: inline-block;
    padding-top: 15px;
    padding-left: 9px;
    color: rgb(88, 88, 88);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}



#right-container
{
    height: inherit;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: right;
}

#right-container .search-by
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 22px;
    width: auto;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    
}

/* search bar starts */
