body
{
    background-color: rgb(36, 37, 39);
    display: grid;
    grid-template-rows: 40px;
}




:root
{
    --color: white ;
    --font: Arial, Helvetica, sans-serif;
}






/* Nav Bar ============================================================================================================== */



nav
{
    /* background-color: antiquewhite; */
    display: inline-grid;
    justify-content: space-between;
    grid-template-columns: 150px 300px;
}






/* left Container ------------------------------------------------------------------------ */
#nav-left-container
{
    height: 100%;
    /* background-color: rgb(34, 43, 40); */
    display: inline-grid;
    grid-template-columns: 50px 50px;
    grid-column-gap: 10px;
    justify-content: center;
    align-content: center;
}

#nav-left-container div
{
    display: inline;
    /* background-color: brown; */
    /* color: var(--color); */
    font-family: var(--font);
    font-size: 15px;

}

#nav-left-container a
{
    color: var(--color);
    text-decoration: none;
}

#nav-left-container a:hover
{
    text-decoration:underline;
}








/* Right Container ------------------------------------------------------------------------*/

#nav-right-container
{
    height: 100%;
    /* background-color: rgb(36, 48, 102); */
    display: inline-grid;
    grid-template-columns: 45px 45px 45px 50px 50px;
    grid-column-gap: 10px;
    justify-content: end;
    align-content: center;
}

#nav-right-container div
{
    display: inline;
    /* background-color: brown; */
    justify-content: center;
    align-content: center;
    color: var(--color);
    font-family: var(--font);
    font-size: 13px;
    height: 30px;
}

.nav-right-container-text ,a
{
    text-align: center;
    color: var(--color);
    text-decoration: none;
}

.nav-right-container-text a:hover
{
    text-decoration: underline;
}



#nav-right-container div img
{
    width: 23px;
    height: 60%;
    border-radius: 20%;
    margin-left: 15px;
}

#nav-right-container div #google-account
{
    border-radius: 50%;
    margin-left: 1px;
}








/* body =============================================================================================== */
#body
{
    margin-top: 150px;
    display: grid;
    grid-template-rows: 100px 48px 37px 35px;
    /* background-color: aqua; */
    grid-row-gap: 28px;
    justify-content: space-around;
    padding-top: 50px;
}


#body div
{
    /* background-color: yellow;    */
    display:inline-grid;
    justify-content: center;
    align-content: center;
}


/* Body Row1 ---------------------------------------------------------------------------------------------- */

#body #row1 img
{
    /* background-color: none; */
    height: 100px;
}






/* Body Row2 ---------------------------------------------------------------------------------------------- */




#body #row2
{
    width: 580px;
    border-radius: 100px;
    background-color: rgb(238, 238, 238);
    display: inline-grid;
    grid-template-columns: 10% 20%;
    justify-content: space-between;
}

#body #row2:hover
{
    background-color: rgb(255, 255, 255);
}

#body #row2-left-container img
{
    height: 18px;
    width: 16px;
}

#body #row2-right-container
{
    height: 50px;
    /* background-color:brown; */
    display: flex;
    justify-content: end;
    align-content: center;

}

#row2-right-container img
{
    padding-top: 15px;
    padding-right: 20px;
    height: 22px;
    width: 20px;
}










/* Body Row3 ---------------------------------------------------------------------------------------------- */


#row3
{
    display: inline-grid;
    grid-template-columns: 20% 24%;
    grid-column-gap: 15px;
}

#row3 .row3-button
{
    height: 35px;
}
