/*

Problem 1: Background and Borders
Create a div with the following specifications:
Set the width of the div to 400px and the height to 200px.
Give the div a background color of light blue.
Add a solid black border that is 5px thick.
Apply a 20px padding inside the div and a 10px margin around the div.

*/

#problem_1
{
    width: 400px;
    height: 200px;
    background-color: lightblue;
    border: solid 5px black;
    padding: 20px;
    margin: 10px;
}